<h1 class="text-uppercase text-left pt-2">Places</h1>

<p>
<a href="/places/new"><button type="button" class="btn btn-outline-secondary">New Place</button></a>
</p>

<ul>
  <% for place in @places %>
    <li><a href="/places/<%= place.id %>"><%= place.name %></a></li>
  <% end %>
</ul>
